<div id="<%= dom_id instrument %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= instrument.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= instrument.description %>
  </p>

</div>
